<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <font color="orange">
      <h1>INTRODUCTION</h1>
    </font>
    <p>
      <b
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        veniam minima aliquam, harum blanditiis impedit distinctio id, fugiat
        obcaecati suscipit, explicabo in. Ullam reprehenderit necessitatibus
        voluptates iusto praesentium aspernatur at!</b
      >
    </p>
    <hr />
    <font color="orange"> <h1>MENU</h1> </font
    ><b>
      <ol type="1">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="course.html">Courses</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="form.html">Form</a></li>
      </ol>
    </b>
    <hr />
    <b>
      <font color="orange">
        <h1>Contact Details</h1>
      </font>
      <p>Furthermore details you can reach out me</p>
      <br />
      <li>Name:Varaprasad Reddy</li>
      <li>Contact No:xxxxxxxxxx</li>
      <li>Email Id:vara@gmail.com</li>
    </b>
    <hr />
    <font color="orange">
      <h1>DESCRIPTION</h1>
    </font>
    <b>
      An institution of higher learning, especially one providing a general or
      liberal arts education rather than technical or professional training.</b
    >
    <br /><br /><br /><br /><br />
    <hr />
  </body>
</html>
