<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <font color="orange">
      <h1>INTRODUCTION</h1>
    </font>
    <p>
      <b
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        veniam minima aliquam, harum blanditiis impedit distinctio id, fugiat
        obcaecati suscipit, explicabo in. Ullam reprehenderit necessitatibus
        voluptates iusto praesentium aspernatur at!</b
      >
    </p>

    <hr />
    <font color="orange"> <h1>MENU</h1> </font
    ><b>
      <ol type="1">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="course.html">Courses</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="form.html">Form</a></li>
      </ol>
    </b>
    <hr />
    <h1 style="color: orange">GALLERY</h1>
    <img
      src="/HTML-PROJECT/images/coll.jpeg"
      alt="No Image Found"
      width="225"
    />
    <img src="/HTML-PROJECT/images/pic.jpeg" alt="No Image Found" width="100" />
    <img
      src="/HTML-PROJECT/images/college.jpeg"
      alt="No Image Found"
      width="290"
    />

    <hr />
    <font color="orange">
      <h1>DESCRIPTION</h1>
    </font>
    <b>
      An institution of higher learning, especially one providing a general or
      liberal arts education rather than technical or professional training.</b
    >
    <br /><br /><br /><br /><br />
    <hr />
  </body>
</html>
