<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=p, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/HTML-CSS-PROJECT/static/css/style.css" />
  </head>
  <body>
    <div class="anchor">
      <li><a href="/HTML-CSS-PROJECT/templates/index.html">Home</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/about.html">About</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/phone.html">Phone-Number</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/email.html">Email-Us</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/enquiry.html">Enquiries</a></li>
    </div>
    <hr />
    <br />

    <p class="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, quam
      minus! Deserunt magnam quasi est, officia sit error id fugiat itaque quod
      mollitia, voluptates veritatis consequatur quia culpa. Sapiente, alias?
      Numquam repudiandae necessitatibus fugit eos quos voluptates
      exercitationem culpa dicta consequuntur deserunt temporibus, deleniti
      perferendis dolorem debitis sapiente iste enim in quam? Vel corporis
      blanditiis dolor voluptate sint molestias mollitia? Expedita consequatur
      ex laboriosam ipsa modi voluptatem quidem nobis delectus soluta ducimus.
      Nostrum totam vero possimus, laboriosam repudiandae veniam quia ipsum non
      ducimus fugit sapiente. Veniam laborum dolore magnam temporibus. Minus
      architecto exercitationem nobis ab quas facilis possimus labore atque,
      soluta est hic excepturi ex quibusdam eveniet accusamus cupiditate
      expedita ratione, tempore ea illum. Vitae voluptatum optio placeat aperiam
      et? Adipisci, neque! Reprehenderit amet voluptatibus laborum iure impedit
      consequuntur quibusdam excepturi, quae quisquam expedita non illum facere
      quos est consectetur! Placeat repellat natus animi hic, cum quidem
      veritatis voluptates voluptate. Debitis, amet assumenda, aliquam
      praesentium fugiat distinctio quam officia consequuntur quasi molestiae
      dignissimos odit ratione autem illum aperiam perspiciatis? Exercitationem
      perspiciatis cumque delectus sit, nostrum illum qui quo vel? Sit!
      Dignissimos, corrupti a harum incidunt mollitia possimus tenetur voluptas
      aspernatur temporibus architecto perferendis optio placeat repudiandae
      porro unde esse obcaecati delectus, voluptatem corporis. Quam ratione
      dolor iste quos commodi incidunt. Pariatur quis, natus minus iste neque
      dolor modi alias molestiae nesciunt quod facilis, distinctio cupiditate
      voluptatem deleniti magni qui. Perspiciatis mollitia cupiditate ex,
      laborum eligendi sapiente excepturi quas harum voluptatem. Explicabo
      nesciunt laudantium illum quod ex, aut beatae voluptatibus aspernatur iste
      quidem quas, dolore, sed voluptatum optio doloremque consequatur soluta!
      Aspernatur neque molestias cumque inventore adipisci eos, ducimus ratione!
      Illum? Optio exercitationem expedita eos voluptate, aliquid fugit error
      dolores, quos, iste omnis earum natus! Praesentium quaerat facere eos,
      distinctio quisquam, voluptate iste repudiandae voluptas minima alias quos
      ex delectus suscipit.
    </p>
  </body>
</html>
