<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email-Us</title>
    <link rel="stylesheet" href="/HTML-CSS-PROJECT/static/css/style.css" />
  </head>
  <body>
    <div class="anchor">
      <li><a href="/HTML-CSS-PROJECT/templates/index.html">Home</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/about.html">About</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/phone.html">Phone-Number</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/email.html">Email-Us</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/enquiry.html">Enquiries</a></li>
    </div>
    <hr />
    <br />
    <h1>Email:<a href="#">vara@gmail.com</a></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
      tenetur dignissimos similique, asperiores blanditiis molestiae laborum,
      culpa eveniet natus quaerat amet possimus aut voluptates sunt facere?
      Minima aperiam ab perspiciatis. Eos repudiandae soluta aut consectetur
      debitis iusto provident. Iusto a sed, iure tempora distinctio sequi quae.
      Assumenda amet officia eos, facere, blanditiis in quasi expedita similique
      quam ab aperiam est? Eligendi nostrum consequatur delectus totam, iure
      cupiditate deserunt sunt vero eveniet ullam, ex rem ipsa tempore excepturi
      neque repellat, fugiat omnis minus quisquam sed nihil impedit aliquid.
      Molestiae, reiciendis rerum. Possimus at voluptas tenetur quod odit sit
      quae hic maxime, ducimus cum facilis modi perspiciatis enim ullam illum
      vitae delectus porro magnam dolorem ex, explicabo numquam quas! Quidem,
      voluptates itaque! Modi adipisci dignissimos assumenda, praesentium, earum
      debitis itaque maiores ullam laborum consequuntur est placeat velit autem
      consequatur aliquid iste. Reprehenderit magni aliquid culpa nobis minima?
      Incidunt minus numquam eaque laboriosam. Est nulla, porro eius dolorem
      dolores soluta a sunt quasi, possimus esse temporibus commodi? Cupiditate
      dicta voluptatibus nisi. Tempore porro sunt similique repellat illo fugit
      aspernatur rerum officiis soluta perspiciatis. Quasi perspiciatis quidem
      ad voluptatibus repudiandae beatae quisquam dolore velit nesciunt enim
      nostrum laboriosam blanditiis et aspernatur, tenetur quibusdam quis in
      quam? Autem, et consequuntur voluptates cupiditate quos ad excepturi? Iure
      est dolorem nihil, distinctio ullam natus, sequi quia doloremque velit,
      temporibus doloribus in consequuntur nam ducimus architecto nulla quasi
      voluptatum sit delectus laudantium alias quos molestias? Nam, excepturi
      eveniet. Maxime repellat quos nostrum sit, ex aperiam velit culpa!
      Repellendus cumque, libero maxime, mollitia a corporis voluptatem dolores
      enim incidunt laudantium iure similique ratione vero. Ad saepe alias quis
      vitae! Eos dolorum quibusdam minima perferendis illum dicta possimus
      dolores corporis dolore accusamus facere unde maxime molestias eligendi
      eius sapiente, quas non vel excepturi. Esse facilis nam libero facere
      explicabo excepturi. Voluptatibus sequi molestias doloribus soluta esse
      modi, vel harum officiis. Dolor amet magni exercitationem saepe vel iste,
      ipsam voluptatem quibusdam illo excepturi laudantium quos perferendis
      harum porro cumque, qui quaerat? Ab voluptates rem pariatur odio delectus,
      dignissimos sunt praesentium non obcaecati quidem ducimus excepturi in
      quibusdam error ad dolore amet voluptatibus cum! Sint, autem sequi. Omnis
      corporis consequuntur atque amet! Officia perferendis nam corporis, odit,
      veritatis quas reprehenderit qui maiores sequi doloremque ipsa dolor
      molestias necessitatibus minus similique fugit? Id itaque cumque esse
      sapiente ipsum molestias exercitationem sint asperiores eaque? Voluptate
      earum, provident dolorum, obcaecati quisquam, cupiditate quos a molestias
      voluptatibus voluptas saepe. Corrupti adipisci nulla temporibus beatae
      quos illo natus, qui itaque delectus? Pariatur amet mollitia similique
      dolor nihil. Ducimus quod consequuntur rerum itaque iusto ut laboriosam
      laudantium quis aliquid dolorum iure velit, autem id veniam nam nihil
      doloremque repellendus quae eum sint. Tempore velit blanditiis explicabo
      incidunt itaque. Cum soluta saepe optio temporibus quaerat, repellendus
      placeat fugit eius alias dolorem sapiente. Suscipit libero consequatur
      ipsam amet autem a ut, labore enim commodi praesentium repellat rem nisi
      eius ducimus? Cupiditate obcaecati assumenda sit corporis asperiores
      maxime voluptatem nulla beatae eum rerum nisi, cum iure repellendus quidem
      odio quis! Odit dicta doloremque amet porro facilis quasi dignissimos,
      repellendus expedita fugiat. Quo, nihil inventore ipsa vero obcaecati
      facilis culpa enim amet delectus corrupti quasi laudantium assumenda illo
      quia sapiente non itaque magnam neque rem quisquam quaerat explicabo in
      nam doloremque. Nemo? Atque nemo, repudiandae laudantium exercitationem
      ipsam et saepe praesentium ab rerum alias animi necessitatibus debitis
      illo nulla impedit iusto voluptates est, in ex delectus eos expedita. Sint
      at omnis corporis? Quam porro aliquid voluptatum quod in excepturi,
      commodi ipsa nam delectus natus maxime totam esse, asperiores architecto
      maiores fuga cumque doloremque eos, aspernatur incidunt fugiat placeat?
      Nemo sunt labore possimus! Vero, dignissimos delectus. Quas architecto
      officiis consequatur magni doloremque optio ea doloribus libero aut nihil
      earum perferendis odit deleniti deserunt quia natus facere eaque, dolorem
      vitae aliquid modi dolorum! Quidem? Illum numquam itaque cumque ipsa,
      dolor voluptate facere consequatur, quis ea neque praesentium molestias
      blanditiis quaerat adipisci qui dicta facilis tempora. Accusamus sit odio
      rem officia, repellendus cum fugit illum. Sed veritatis veniam illum, eum
      ipsam numquam voluptatum nesciunt dolores tenetur fugiat. Corrupti, neque.
      Porro veniam vel quae! Id, dolorem officia. Dicta amet qui animi tempora
      tenetur fuga in cumque! Quod necessitatibus enim mollitia impedit
      repudiandae obcaecati magnam, illo nostrum molestias velit quam eveniet
      tempora autem at exercitationem voluptates nobis eligendi est. Quibusdam
      reiciendis quas exercitationem a nihil dicta ut? Nisi quos iusto, alias
      perferendis unde quaerat eveniet obcaecati rerum, voluptatibus consequatur
      praesentium, id assumenda cupiditate? Similique, repellendus labore.
      Fugiat molestias tenetur incidunt libero. Reiciendis eius a sequi minus
      officiis. Nostrum ullam aliquid, incidunt dicta aspernatur temporibus ad
      quo a tempore? Quae soluta exercitationem eius voluptatem, dolor odio
      minima, sapiente quisquam tenetur praesentium animi libero, placeat
      consectetur dolore eveniet alias? Repellat, illo consectetur officia rerum
      neque, voluptatum eaque a ea facilis, consequatur in nisi saepe. Non sint
      voluptatibus nemo blanditiis, mollitia odio est saepe laudantium, debitis
      natus sunt? Natus, neque. Consequuntur, est? Soluta perferendis officia
      exercitationem id ullam deserunt. Aliquam vero veritatis voluptatem
      explicabo placeat voluptate asperiores illum ratione harum quidem
      possimus, maxime magni, animi assumenda beatae aut sed nemo? Eveniet
      necessitatibus sunt expedita quisquam inventore, saepe quos repudiandae
      quam, ea veritatis fugit animi nulla odio iusto alias consectetur ipsam
      laborum. Placeat minus quae voluptatem quia, repellendus consequuntur.
      Nemo, veritatis. Magnam, voluptas. Architecto eaque omnis eligendi rem
      aliquam iste voluptatibus, soluta obcaecati culpa tenetur ab nam vitae
      iure at laborum reiciendis. Magni ad quas molestiae! Repellat esse
      inventore exercitationem ducimus. Eius facere repellendus repudiandae
      officiis, fugiat rerum sapiente deleniti, delectus quis voluptate et id
      ratione iusto. Et quos ut suscipit fuga sint eligendi optio voluptas. Esse
      ex ea odio est! Sit quidem praesentium qui iusto, voluptates magni
      suscipit placeat! Fuga, qui minus? Nihil vel modi aut iste vitae saepe
      voluptatum molestias, minima nisi repudiandae ab? Debitis, error harum.
      Quasi, cum? Quidem adipisci, commodi, quisquam atque maxime qui illo
      cupiditate nobis deleniti tenetur placeat minus maiores nihil explicabo
      aspernatur voluptates amet neque quod! Commodi quibusdam architecto
      voluptate porro praesentium eum aliquid. Laborum, fuga assumenda. Harum
      expedita, suscipit rem ex quo, repudiandae numquam tenetur doloribus
      minima temporibus aliquam provident placeat dolore. Rerum magnam quod
      quaerat nisi vero voluptates porro ipsam perferendis eos. Voluptate alias
      voluptatibus corrupti id minima! Corrupti veniam consequuntur officia
      perferendis illum eligendi earum beatae molestias dolores, nemo, quisquam
      laboriosam iste consequatur quis quod blanditiis error aliquid dicta
      quasi. Optio. Quod mollitia, vel sint officiis maxime in expedita ex
      blanditiis sunt, placeat earum! Laboriosam a, molestias facere amet, earum
      quaerat adipisci doloremque sint modi recusandae inventore rerum ducimus
      perspiciatis quasi! Voluptates ex cum nostrum quaerat esse debitis ut
      asperiores hic quibusdam laborum. At obcaecati consequuntur ut, inventore
      quis temporibus possimus totam corrupti et tempora delectus laudantium ex
      ratione voluptatum excepturi? At veritatis placeat expedita sint totam
      animi repellendus, sapiente consequuntur quis eveniet tenetur harum magni
      eos illo corrupti sit voluptatibus, laudantium aliquam esse fugit magnam
      unde. Aliquam repellendus odit quo. Rerum ipsam fugiat facere asperiores
      repudiandae cum laboriosam in eius nesciunt vero quae voluptatibus
      adipisci, laudantium dolores aliquam quos eaque laborum natus non corporis
      numquam ipsum quidem. Excepturi, nemo veritatis? Quaerat hic in cumque
      voluptatem corrupti provident totam. Reprehenderit numquam, voluptatibus
      harum magni culpa sint est aperiam quos atque, libero nulla sequi.
      Repellat placeat similique quod expedita illum assumenda asperiores!
      Incidunt aliquid quasi unde repellendus fugiat, ipsa corrupti debitis
      dolorem voluptatum deleniti? Harum expedita fugiat perferendis non atque
      officiis libero nulla voluptate recusandae esse magni tempora error
      molestias, vero fugit! Voluptatum minima perspiciatis consequatur rem. Qui
      temporibus expedita odit asperiores molestiae placeat vel, sed voluptatem
      tenetur, sunt at sapiente, voluptates consectetur vero deleniti doloremque
      modi. Voluptates, consequuntur. Ut, excepturi qui? Laudantium corrupti est
      odio voluptatibus accusantium esse, fugiat nostrum illum minus impedit
      doloremque debitis hic aspernatur recusandae commodi deserunt delectus
      beatae sit modi at ea corporis ipsam exercitationem! Nostrum, laborum?
      Repudiandae libero magni sed eaque labore ipsa distinctio amet numquam
      porro ad saepe aperiam nulla eveniet asperiores adipisci ut, ipsum velit,
      ea facere perferendis recusandae provident vero maxime. Dignissimos,
      nihil? Nesciunt quia ullam commodi architecto porro impedit voluptate
      ratione fuga quisquam animi veritatis quis ea, consectetur quam laborum.
      In non recusandae illum aut molestiae nesciunt sed voluptatum, aperiam
      explicabo! Possimus! Officiis optio exercitationem culpa corrupti sit. Vel
      iste blanditiis voluptate, numquam quia omnis, porro similique obcaecati
      consequuntur optio iure quibusdam laudantium sapiente doloremque? Maxime
      architecto deleniti earum fuga id deserunt! Dolore illo nisi ipsum commodi
      alias voluptates fugit quaerat iusto sit molestiae! Id, laboriosam,
      numquam saepe perspiciatis ex, labore dicta magni laborum molestiae
      distinctio explicabo eius laudantium dolore. Animi, quaerat? Ducimus
      beatae dolorum alias veritatis illum quisquam vero, perspiciatis,
      distinctio accusantium mollitia quasi delectus laudantium amet. Dolores
      fugiat, vel ab incidunt id eligendi libero sed vero in cupiditate ratione.
      Tempora. Est placeat deleniti vel debitis nemo, enim amet totam aliquam
      corrupti ducimus consectetur consequatur exercitationem deserunt iure
      error voluptate ea autem labore nostrum cum molestiae iste sint, repellat
      dicta. Fugiat. Corrupti magni neque, libero, ab nesciunt sed commodi
      voluptatem dolor atque provident dolore, modi placeat architecto
      laudantium iure quaerat delectus id autem deleniti optio sapiente beatae?
      Non totam voluptatem molestiae.
    </p>
  </body>
</html>
