<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enquiries</title>
    <link rel="stylesheet" href="/HTML-CSS-PROJECT/static/css/style.css" />
  </head>
  <body>
    <div class="anch">
      <li><a href="/HTML-CSS-PROJECT/templates/index.html">Home</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/about.html">About</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/phone.html">Phone-Number</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/email.html">Email-Us</a></li>
      <li><a href="/HTML-CSS-PROJECT/templates/enquiry.html">Enquiries</a></li>
    </div>
    <hr />
    <br />
    <video
      width="600"
      height="300"
      controls
      loop
      muted
      autoplay
      src="/HTML-CSS-PROJECT/static/media/vara.mp4"
    ></video>
    <p class="enquiry">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores
      quaerat, similique praesentium cum voluptates delectus iste esse, error
      blanditiis debitis omnis laudantium iure aut temporibus provident
      consectetur ducimus pariatur! Corrupti, ipsa doloribus? Veniam ex amet
      asperiores error quis. Debitis eum soluta doloribus praesentium obcaecati
      ipsum officia aliquam animi, pariatur necessitatibus voluptatem accusamus,
      et atque? Rem excepturi hic porro corporis? Ut placeat est eius ipsam,
      totam vero quisquam libero illum mollitia consequatur, aspernatur suscipit
      ex eaque error sed. Aspernatur pariatur tenetur aliquam doloremque
      blanditiis illo nulla porro quibusdam et itaque! Distinctio quidem nam
      aperiam sequi sunt, dolore magni deleniti ratione porro a. Consequatur
      amet deserunt ad voluptas eveniet explicabo dolor optio, culpa perferendis
      suscipit quos aut sed at? Accusamus, quasi? Vel, eos voluptatibus? Placeat
      repudiandae rem aliquid sunt totam praesentium deserunt debitis rerum
      suscipit. Facilis doloremque architecto inventore, laboriosam animi optio
      ratione, facere consectetur necessitatibus nam quos! Amet, minus atque!
      Vero minus voluptates voluptatem dicta quas praesentium, cumque
      reprehenderit, exercitationem asperiores, molestiae odio aliquam eaque
      accusamus velit illo. Consequuntur fuga fugiat dolore aut aperiam, itaque
      magnam nobis minus expedita reprehenderit! Doloribus ad corporis vero,
      quos magni temporibus? Debitis nihil, ab iure assumenda odit magnam facere
      sequi, eligendi error obcaecati consequuntur ipsa distinctio praesentium
      quibusdam beatae nisi at atque dignissimos voluptas? Officia aperiam
      explicabo ullam. Nulla necessitatibus suscipit repudiandae aliquam, illum
      excepturi voluptatum autem amet odio, nostrum officia eligendi, repellat
      explicabo. Qui, possimus minima labore natus nam iure explicabo. Sint,
      saepe. Necessitatibus a laborum architecto, vero dolore esse nobis nisi
      facere quas molestias eligendi modi animi temporibus suscipit quam
      recusandae asperiores veniam in minus ex cumque. Ducimus cumque fuga
      quaerat voluptatum? Cum soluta laboriosam deserunt nihil, velit modi
      voluptates reprehenderit praesentium ipsam optio vel provident vitae
      aliquam voluptas ullam placeat, accusantium, nesciunt similique quod
      laudantium laborum? Ab unde voluptates nihil? Numquam. Eos molestias
      minima, vitae quis cupiditate veritatis consectetur nisi cum ratione velit
      qui odio atque corporis amet illum neque provident, eveniet magni, ipsa
      voluptate optio quos. Obcaecati deleniti voluptas molestiae. Velit sed
      veniam, corrupti neque soluta pariatur facere fugit nemo consectetur
      incidunt, beatae saepe placeat nisi commodi ex accusantium quasi impedit,
      itaque animi repellat dolor modi enim! Asperiores, quas odio. Facere quasi
      mollitia quia est porro ut eligendi, quisquam a architecto fugiat
      inventore placeat eum assumenda nostrum neque consequatur debitis nobis
      ipsa accusamus, ipsam illum aspernatur. Illum vel dolore iure. Officiis
      beatae omnis unde voluptatum quis corrupti maiores quaerat? Dolorum
      repellendus commodi esse et? Eos blanditiis facilis, atque cum eaque
      commodi reprehenderit rem, quos, officia eveniet numquam explicabo maiores
      dicta! Hic natus id animi dolores numquam dicta repellat nesciunt minima
      similique ex quae et autem voluptate magni aut sunt impedit vel maiores
      officiis veritatis nemo, voluptas iusto. Esse, blanditiis totam! Cum aut
      consequuntur quam eligendi voluptates, ex iusto suscipit rem
      necessitatibus at repellat et numquam molestias debitis. Odit nobis
      assumenda tempore, reiciendis ipsa, illo fugiat sit dolorem temporibus,
      exercitationem obcaecati? Expedita dolorum eos quia doloribus ex,
      voluptatum iure sequi. Nihil explicabo ipsum voluptatibus totam quo et
      quis nam iste molestias dolore? Minima, deserunt? Sed praesentium natus,
      minus consectetur cupiditate optio! Error hic necessitatibus, similique,
      consequuntur eum odit sapiente eaque assumenda eveniet ipsam nobis
      adipisci saepe, ipsum ducimus. Blanditiis modi nulla placeat libero, quas
      alias. Facilis cumque laboriosam ea culpa vitae. Beatae molestias totam
      iusto necessitatibus repellendus sequi distinctio dicta consequuntur
      obcaecati possimus nulla expedita dolor libero, veritatis voluptatibus
      odio quo perferendis dolorum in tempora eveniet odit debitis, esse magnam!
      Sit. Enim, aliquam repellendus. Enim commodi doloribus explicabo minus
      consequuntur molestiae. Esse quis cumque dolorum voluptas sint velit nam
      consequatur sunt enim, iste aliquid eveniet corrupti, magni reiciendis
      magnam. Animi, temporibus! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Culpa, quae obcaecati cum odio voluptate officiis qui
      error a dicta, molestiae tempore exercitationem? Molestias amet nemo harum
      recusandae, illo esse minus.
    </p>
  </body>
</html>
