<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/HTML-CSS-PROJECT/static/css/style.css" />
  </head>
  <body>
    <div class="anchor">
      <li>
        <a href="/HTML-CSS-PROJECT/templates/index.html">Home</a>
      </li>
      <li>
        <a href="/HTML-CSS-PROJECT/templates/about.html" target="_blank"
          >About</a
        >
      </li>
      <li>
        <a href="/HTML-CSS-PROJECT/templates/phone.html" target="_blank"
          >Phone-Number</a
        >
      </li>
      <li>
        <a href="/HTML-CSS-PROJECT/templates/email.html" target="_blank"
          >Email-Us</a
        >
      </li>
      <li>
        <a href="/HTML-CSS-PROJECT/templates/enquiry.html" target="_blank"
          >Enquiries</a
        >
      </li>
    </div>
    <hr />
    <br />
    <p class="home">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis
      blanditiis perspiciatis quam temporibus accusantium, asperiores at
      praesentium Ad laudantium optio tempore aperiam beatae adipisci maxime
      vero voluptatibus eius. Ex labore omnis nemo adipisci optio impedit
      laborum voluptates unde possimus. Hic odio esse deleniti tenetur facere
      dignissimos veritatis! Vero sequi eaque corporis ea tempore consequatur ut
      eligendi? Nam fugiat temporibus dignissimos illum. Ullam cum laudantium
      qui quas quam corrupti commodi, repudiandae consectetur ipsa illo quasi
      iusto! Culpa, dolor. Fugit qui a explicabo quae magnam cum, vel accusamus,
      consequatur beatae quasi, molestias recusandae ipsam iure. Ipsam
      asperiores ipsum odio ratione fuga repellat saepe. Aut exercitationem
      excepturi doloribus nobis quasi? Tenetur, voluptas labore? Tenetur quas ex
      debitis fugit commodi mollitia, libero quos asperiores, delectus eligendi
      quam reprehenderit minima cum dolorum? Esse deserunt doloremque
      consectetur veritatis? Non distinctio vero vitae incidunt? Accusantium
      corrupti iste quaerat dolorem, doloribus in officia cum praesentium vitae
      ex at harum sint ipsum architecto rem magni, explicabo ipsam unde fugiat
      quas beatae dolore! Repudiandae assumenda dolorum at. Voluptatem eos enim
      sit neque. Voluptates adipisci tempore ducimus corrupti unde nemo velit
      obcaecati distinctio amet quam deserunt in fugiat, debitis quaerat hic,
      ipsum pariatur veniam omnis magnam esse recusandae! At ab officia dolorum
      necessitatibus tenetur iste ipsa voluptates est cum aliquam, nihil
      voluptas fuga optio dolores modi nulla deserunt laborum cupiditate,
      eligendi ducimus, ipsum culpa. Velit exercitationem quidem repellat! Error
      vel esse, repellendus, explicabo repellat nisi nesciunt molestiae
      provident eaque, doloremque rem! Natus numquam iure dolorum Impedit eaque
      expedita, beatae tenetur quibusdam voluptate odio. Natus? Adipisci illo
      voluptas perspiciatis nesciunt expedita debitis quam quibusdam natus, vero
      praesentium distinctio quos. Sed, repudiandae. Velit, nam laborum? Aut
      quidem autem magni repellendus, modi odit veniam illum rerum inventore.
      Atque ex exercitationem consectetur eaque quas. Modi autem fugit ullam sed
      eveniet obcaecati voluptatibus odio quo aliquam vero, molestias vitae.
      Adipisci, rem facilis itaque quibusdam eaque voluptatibus ducimus harum
      est. Ipsa eum numquam omnis quod architecto recusandae doloribus ducimus,
      sint illum saepe earum totam in, consequuntur velit quidem iure veritatis
      tempore, nisi illo animi. Rerum in corrupti quis ipsam dicta? Cum numquam
      aliquid sint vero corrupti nam blanditiis fuga pariatur illum quia
      repudiandae dolor, excepturi neque ullam! Modi est, laudantium libero
      velit perferendis dolorum, in voluptatem voluptatibus aliquid minus quasi.
      Eius at magni sapiente dolor minus, praesentium repellat similique, quidem
      error assumenda totam nihil omnis eaque, provident placeat? Quaerat
      dolores iusto minima illo molestias eveniet itaque error dolorum voluptate
      sunt! Eum rem odit ea consectetur sapiente? Saepe dicta dignissimos,
      veritatis aliquid tempore neque aperiam nam laudantium commodi, officiis
      recusandae quia ex quisquam. Nam error aut odio similique, asperiores nisi
      quisquam. Ad, commodi! Neque harum perferendis a aliquid, vero saepe
      obcaecati, minima suscipit corrupti, aperiam impedit. Quo libero deleniti
      assumenda reiciendis provident alias nihil. Id, tenetur tempore culpa
      saepe delectus dolor! Doloribus eligendi iure impedit quis iste, illum,
      sunt consequuntur optio libero maiores cupiditate excepturi quas. Vitae,
      magni pariatur beatae voluptas eligendi, quidem iure ratione aut
      blanditiis, dicta architecto totam consequatur? Dolorem in quis unde
      placeat maiores incidunt aut a, corrupti beatae repellat, quo aliquid.
      Eaque mollitia, ullam aperiam labore nam perspiciatis placeat eos, veniam
      nobis facere tempora ipsum quae eum. Temporibus eveniet nostrum, animi
      beatae optio esse repellendus, doloremque officia laborum, culpa nihil
      dolore excepturi nesciunt ab cumque. Maiores, consequatur vitae? Minima
      quisquam quidem totam enim? Minus iure aspernatur illo? Aliquam illo
      repudiandae tenetur magnam, similique aspernatur? Architecto obcaecati sit
      illum maiores! Reprehenderit odit quibusdam voluptatum porro quos
      molestiae, voluptatem facere? In reiciendis amet optio ex ratione iusto
      nemo vel. Accusantium voluptate possimus nobis. Repellendus, rem rerum ea
      veritatis cupiditate cumque sed eaque nihil fugiat maxime possimus
      architecto qui veniam temporibus quae asperiores magnam? Ipsam voluptatum
      quibusdam nulla totam molestias! Perferendis quidem non enim pariatur
      ipsum dignissimos optio magnam, fugit ducimus laborum necessitatibus autem
      cum voluptate nisi sunt ullam facere, dolores repudiandae dolore culpa
      ipsam consequuntur. Fugiat repudiandae a in? Mollitia magni magnam illo
      quae ea quo odit exercitationem distinctio. Mollitia quia sed laboriosam
      obcaecati laborum nisi, et sunt exercitationem blanditiis harum cumque
      error nesciunt ipsam est? Optio, eius ut! Eligendi vel sed autem fugiat,
      aliquid ipsum facilis laboriosam, voluptatum ratione quia obcaecati odio
      quis debitis eius veritatis pariatur culpa ad sequi doloremque cum, ipsam
      necessita o hic rerum, ad qui fugiat accusantium? Provident magni,
      voluptas fuga facere beatae quisquam eligendi. Eligendi maxime aut quidem
      nulla consequuntur aperiam tenetur odio iste velit dolor ratione
      laudantium, repellat consequatur atque eius aliquid. Vitae facere rerum
      possimus voluptatibus recusandae! Dolorem, dignissimos rem! Velit
      architecto sit, voluptates, ipsum iusto, fugit perspiciatis veniam
      pariatur maxime deleniti tenetur minima rerum. Labore consequatur laborum
      consectetur quis? In enim voluptate nihil deleniti, ipsa tenetur?
    </p>
  </body>
</html>
