<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Phone-Number</title>
        <link rel="stylesheet" href="/HTML-CSS-PROJECT/static/css/style.css">
    </head>
    <body>
        <div class="anchor">
            <li><a href="/HTML-CSS-PROJECT/templates/index.html">Home</a></li>
            <li><a href="/HTML-CSS-PROJECT/templates/about.html">About</a></li>
            <li><a href="/HTML-CSS-PROJECT/templates/phone.html">Phone-Number</a></li>
            <li><a href="/HTML-CSS-PROJECT/templates/email.html">Email-Us</a></li>
            <li><a href="/HTML-CSS-PROJECT/templates/enquiry.html">Enquiries</a></li>
             <hr>
             <br>
        </div>
            <p>
                <h1>contact-number:<a href="#">91XXXXXXX9</a></h1> <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quod blanditiis et exercitationem doloribus magnam temporibus officiis dolor! Illum iusto inventore quidem expedita quos porro earum voluptatibus? Aut, error deserunt!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores ut nostrum dignissimos earum nihil. Eligendi fugit cumque ipsam aperiam optio natus, excepturi unde suscipit esse illo corrupti deleniti sit nobis?
                Dicta nihil corrupti asperiores culpa ipsa, amet a inventore quaerat unde sapiente minus at, adipisci veritatis quidem laboriosam fuga rem iusto ducimus nemo alias! Excepturi fugit eum tempora quis sunt?
                Earum praesentium numquam animi officiis, saepe unde! Quos voluptatum vel animi nam cumque ex nulla magnam aspernatur facilis quas id provident natus, debitis a iusto, tempora vitae iure, sit minima?
                Minus, sunt itaque totam saepe provident numquam unde accusamus vitae quod delectus cumque animi culpa mollitia recusandae. Voluptatibus incidunt optio labore asperiores aut excepturi nostrum dicta libero. Accusamus, libero fugiat.
                Aut doloremque nemo ipsam perferendis, doloribus provident dignissimos saepe quidem veniam fugiat ipsa enim expedita ea possimus hic. Rem ipsam amet eligendi aspernatur alias cupiditate laudantium laboriosam iure eaque vel?
            </p>
        
    </body>
</html>